/* Responsive design lab
 * COMP 20 Spring 2017
 * By: Julie Jiang (yjiang06)
 */
/* Display top left section of ralphy */
@media only screen 
    and (min-width: 1401px) {
        .ralphy {
            background: url(ralphy.gif) 0px 0px;
            width: 250px;
            height: 186px;
        }
}

/* Display top right section of ralphy */
@media only screen
    and (min-width: 1201px) 
    and (max-width: 1400px) {
        .ralphy {
            background: url(ralphy.gif) -250px 0px;
            width: 250px;
            height: 186px;
        }

}

/* Display middle left section of ralphy */
@media only screen 
    and (min-width: 1001px) 
    and (max-width: 1200px) {
        .ralphy {
            background: url(ralphy.gif) 0px -186px;
            width: 250px;
            height: 186px;
        }

}

/* Display middle right section of ralphy */
@media only screen 
    and (min-width: 801px) 
    and (max-width: 1000px) {
        .ralphy {
            background: url(ralphy.gif) -250px -186px;
            width: 250px;
            height: 186px;
        }

}

/* Display bottom left section of ralphy */
@media only screen 
    and (min-width: 601px) 
    and (max-width: 800px) {
        .ralphy {
            background: url(ralphy.gif) 0px -372px;
            width: 250px;
            height: 186px;
        }
}
/* Display middle right section of ralphy */
@media only screen 
    and (max-width: 600px) {
        .ralphy {
            background: url(ralphy.gif) -250px -372px;
            width: 250px;
            height: 186px;
        }

}